@use "../util/var" as v;

.day-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 75px);
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}

.day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid v.$blue-dark;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.day-card-day {
  font-size: 0.75rem;
  color: v.$blue-medium;
  margin-top: 0.5rem;
}
